<!DOCTYPE html>
{% load static  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %} Django Websocket {% endblock title%} </title>
  {% block head %}{% endblock head %}
</head>

<body>

<div class="container">
  {% block container %}
  {% endblock container %}
  
</div>

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> {% endcomment %}

<script>
  $(document).ready(function(){
    {% block jquery %}{% endblock jquery %}
})
</script>

{% block script %}
{% endblock script %}

</body>

</html>
